.orders-page {
  padding: 2rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fa;
  min-height: 100vh;
}

.orders-page h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.filter-tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.filter-button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  color: #333;
  transition: all 0.2s ease;
}

.filter-button:hover {
  background-color: #eaeaea;
}

.filter-button.active {
  background-color: rgba(146, 84, 194, 0.951);
  color: white;
  border-color: rgb(110, 83, 168);
}


.orders-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  color: #2f3a78;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.orders-table th,
.orders-table td {
  padding: 1.2rem 1.2rem ;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-size: 01.02rem;
}

.orders-table th {
  background-color: #f0f0f0;
  color: #444;
  font-weight: 600;
}

.orders-table tr{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-bottom: 1px solid #eee;
}

.orders-table tr:last-child {
  border-bottom: none;
}


.orders-table tr:hover {
   transform: scale(1.02);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.rate-button {
  background-color: #41d189;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.rate-button:hover {
  background-color: #449b6f;
}

.status-cell {
  text-transform: capitalize;
}

.status-cell.pending {
  color: #4591dcff; 
}

.status-cell.completed {
  color: #5AC18E; 
}

.status-cell.dispatch {
  color: rgb(127, 94, 196);
}

.status-cell.cancelled {
  color: #e11515ff; 
}